:root {
    --primary:#1f2937;
    --secondary:#C9A959;
    --myGrey:#CFCECA;
}
* {
    box-sizing: border-box;
}

.icon {
    width: 32px;
    height: 32px;
}
.icon:hover {
    cursor: pointer;
    transform: scale(1.075);
    filter: brightness(120%);
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.content {
    min-height: 100vh;
    display: grid;
    grid-template-columns:240px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: white;
    padding-left: 24px;
    gap: 12px;
}

.button {
    border-style: none;
    padding: 12px;
    background-color: var(--secondary);
    width: 100px;
    cursor: pointer;
}
.button:hover {
   transform: scale(1.08);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0.5em;
}

.card-container {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 20em));
    gap: 1.5em;
}

.todo-card {
    height: fit-content;
    color:rgb(17, 16, 16);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    gap: 0.3em;
    background-color:rgba(196, 190, 190, 0.342);
    border-left: solid;
    border-width: 0.8em;
    outline: #1f2937;
    outline-width: 0.2em;
    outline-style: solid;
    box-shadow: 1px 1px 12px 1px;
}
.todo-card div:first-child {
    font-size: 1.1em;
    font-weight: bold;
}
.icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
    padding-top: 1em;
    gap: 0.5em;
}

.project-title {
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
}

.project:hover {
    color: var(--secondary);
    cursor: pointer;
    transform: scale(1.05);
}

.project-header {
    display: flex;
    background-color: #C9A959;
}
.project-title {
    margin-right: auto;
}

.project-form,
#todo-form {
    display: flex;
    width: 300px;
    background-color:var(--primary);
    color: white;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 12px 1px;
    font-weight: bold;
}

#todo-description {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    height: 1.2em;
    text-overflow: ellipsis;
}
#todo-description:hover {
    width: 100%;
    height: auto;
    white-space: wrap;
    overflow: auto;
    text-overflow: clip;
}
#project-button,
#submit-button {
    padding: 1em;
    font-weight: bold;
    width:max-content;
    border-radius: 0.5em;
}

#add-todo-button,
#delete-button {
    display: flex;
    align-self: center;
    padding: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    height: 60%;
    background-color: var(--primary);
    color: white;
    margin-right: 1em;
    width: max-content;
}

#delete-button:hover {
    color: rgb(141, 38, 38);
}
#add-todo-button:hover {
    color: rgb(26, 95, 26);
}
.footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.7em;
    display: flex;
    margin-top: auto;
    justify-content: center;
    color: white;
    font-size: 1em;
}
a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

input {
    height: 2em;
    border-radius: 0.3em;
    outline: none;
    border-style: none;
}
h1 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
